body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#allPlayers{
	width: 50%;
	float: left;
}

#selectedPlayers{
	width: 50%;
	float: left;
}

#notificationContainer {
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	color: green;
	background-color: yellow;
}